[2017-07-24 20:14] chmaz opened #1 "Error in trying to use for the first time"
Hello,

I am a beginner in python and pyTorch and am trying to use your densenet efficient implementation on a different dataset than CIFAR (images are 80 pixels wide, instead of 32). I use a windows 10 laptop with the experimental pyTorch port on Windows by peterjc123 (see https://github.com/pytorch/pytorch/issues/494).

I have incorporated your DenseNetEfficient model in a training script adapte

[2017-07-25 04:25] Vandermode opened #2 "The efficient implementation do not compatible with parallel computing"
Hi, I run the demo in this repo without changing anything except the cifar data directory. However, it raised a Runtime: `RuntimeError: tensors are on different GPUs`. Then I tried the naive implementation with command line flag --efficient=False, it actually worked fine. By the way, the efficient implementation can work well after I modify the code to not use `torch.nn.DataParallel`. Do you actua

[2017-07-25 08:57] cclauss opened #3 "TabError: inconsistent use of tabs and spaces in indentation"
flake8 testing of https://github.com/gpleiss/efficient_densenet_pytorch on Python 3.6.2

$ __flake8 . --count --select=E901,E999,F821,F822,F823 --show-source --statistics__

[code]

[2017-07-25 17:24] taineleau commented on #2
Hi, I have fixed this in my fork version and I will make a PR by the end of this week. Thanks.

[2017-07-26 14:48] #3 closed

[2017-07-26 14:48] gpleiss commented on #3
Thanks for the catch!

[2017-07-26 16:26] cclauss opened #4 "Eliminate reduce() ?"
The reduce() function was dropped in Python 3.  https://docs.python.org/3.0/whatsnew/3.0.html#builtins  There is still an [implementation in functools](https://docs.python.org/3/library/functools.html#functools.reduce) but the advise is to use a loop instead.   How should https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py#L146 be modified to work in both

[2017-07-26 18:52] gpleiss commented on #1
The "size mismatch" error looks like its coming from the final classification layer. Did you set the `num_classes` option to be the correct number of classes?

[2017-07-26 18:53] gpleiss commented on #4
My bad! The fix is now pushed in master. I tested that it works in Python 3.6.

[2017-07-26 18:53] #4 closed

[2017-07-27 18:22] taineleau commented on #2
@Vandermode Hi, I have updated the code for your convenience. Hope you enjoy it!

[2017-07-27 18:22] #2 closed

[2017-07-28 02:34] Vandermode commented on #2
@taineleau Oh, thanks, I will test it later.

[2017-07-29 14:55] chmaz commented on #1
Hi,

Yes, I have set the num_classes. I managed to have a training working with my images and resnet (adapting the resnet to the size of my images as described in https://github.com/pytorch/vision/pull/155).
So my guess is that I get this error due to the custom size (80 x 80 pixels) of my images and I don't know how to adapt the densenet model for this image size.

I will keep looking,

Thanks,

[2017-07-29 15:49] gpleiss commented on #1
My other guess is that its a pooling issue. The default settings (3 pooling blocks) will reduce a 32x32 image into 1x1 feature maps by the last layer. An 80x80 image might instead be reduced to 3x3 feature maps, which cannot directly be fed into the classifier without further pooling (or increasing the size of the layer).

[2017-08-01 15:44] desertnaut opened #5 "Broken link - MxNet implementation"
Hi. The link for the MxNet implementation provided in README is broken.

[2017-08-02 03:29] taineleau commented on #5
Hi, Sorry for that. It will be available by the end of this weekend.

[2017-08-03 17:22] chmaz commented on #1
By trying different values, I found that setting the avgpool_size to 10 solves the problem.

Thanks for the assistance,

Christophe

[2017-08-03 17:22] #1 closed

[2017-08-04 03:36] taineleau commented on #1
@chmaz Hi, I haven't seen this issue until now.

If you are going to test different size of images, I would recommend you using [AdaptiveAvgPool2d](http://pytorch.org/docs/master/nn.html#torch.nn.AdaptiveAvgPool2d) or [AdaptiveMaxPool2d](http://pytorch.org/docs/master/nn.html#torch.nn.AdaptiveMaxPool2d) instead of manually setting up the avgpooling size. I guess this would be much convenient for y

[2017-08-05 16:15] chmaz opened #6 "use example"
Hi,

Would it be possible to also have a test example in the demo? (not only train)

When I try to use the network I trained, the following command:
        outputs = model(torch.autograd.Variable(images))

Throws this kind of error message:

  File "evaluate.py", line 65, in main
    outputs = model(torch.autograd.Variable(images))
  File "D:\deepLearning\Anaconda\lib\site-packages\torch\nn\modul

[2017-08-06 17:29] taineleau commented on #6
Hi, maybe you could try to put the model file under the [project killer](https://github.com/felixgwu/img_classification_pk_pytorch/) framework to use a more user-friendly APIs, such as reloading model and inference.

[2017-08-06 17:35] taineleau commented on #6
From the error message above, it seems that either the model is not converted to `GPU` mode (`model = model.cuda()`) or the images are not on GPU.

You must keep the model and the inputs on the same chip (i.e. all on CPUs or all on GPUs) to do the inference.

[2017-08-07 06:09] xycoco opened #7 "About mean and stdv"
Hi,
In [demo.py#L212](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/demo.py#L212), the mean value and stdv value are given directly:
[code]

but when I use the [compute-cifar10-mean.py](https://github.com/bamos/densenet.pytorch/blob/master/compute-cifar10-mean.py) to calculate them, I get the result as follows:
[code]

these two results are different obviously, can you tell me

[2017-08-07 15:07] taineleau commented on #7
@xycoco I am not familiar with Bamos' code, but I guess it's [a known issue](http://tsong.me/blog/numpy-std/)that numpy will suffer from the precision problem if use `float32` in `np.std()`.

[2017-08-08 07:05] xycoco commented on #7
@taineleau Thanks for your reply.
When I check Bamos' code, I found his data shape is caffe's format `[batch, channel ,width, height]`, which is different from the pytorch format.

[2017-08-08 07:06] #7 closed

[2017-08-09 03:52] #6 closed

[2017-08-10 18:47] chmaz commented on #6
Dear Tainelau,

Thanks a lot! Following your suggestion, this is how I corrected the problem:

outputs = model(Variable(image, volatile=True).cuda(async=True)).cpu()

Christophe

[2017-08-11 06:04] Lyken17 commented on #5
One week passed   >  <

[2017-08-14 02:03] zhiqiangdon opened #8 "questions about code in file "densenet_efficient.py""
Hi,

Thanks for sharing the code. I read your code and have two small questions.
1. Function "recompute_forward" in class "_EfficientBatchNorm" seems to be unused. Is it redundant?
2. "training = self.efficient_batch_norm.training" in line 266 and "self.efficient_batch_norm.training = training" in line 295 seems to be unnecessary. I think self.efficient_batch_norm.training should be true in both t

[2017-08-15 23:51] hongyi-zhang opened #9 "multi-GPU version slower with more GPUs"
Hi, thanks for the implementation.

I find one weird thing using the multi-GPU option. I am trying to replicate the DenseNet-190-40 model which in the DenseNet paper produced the best result on CIFAR dataset. Using a minibatch size of 256, I can train with >= 4 GPUs but not with 2 GPUs, which indicates the multi-GPU version is working properly. However, I also find that per minibatch training time

[2017-08-16 21:26] taineleau commented on #9
I guess the speed-down comes from the overhead of multi-GPU synchronization, which is a general issue across all deep learning platform.

If you're using mini-batch size = 256 and 8 GPUs to train DenseNet, each GPU is not fully utilized (the utility is about 40%~50%). Also, the CIFAR dataset is sensitive to the mini-batch size, I feel you cannot reproduce the result if you are using 256 instead of

[2017-08-18 15:34] yifita opened #10 "EfficientReLU"
maybe it's not the best place to ask this, but I thought I would be able to get some insight from the author directly :)
You used _EfficientReLU where you called the backend operations, is this necessary? What is the gain here, could I simply substitute it with nn.ReLU?
My intention is to change the type of activation here, wonder whether i can do it in a simpler way.

[2017-08-18 16:23] taineleau commented on #10
@yifita It's necessary! You have to manually backward the ReLU [on Line 283](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py#L283) after re-compute the BN layer. Hence, what we do here's not consistent with torch.nn's design: the backward pass is transparent to the user, so we have to explicitly call the backend operations.
Hope this explanation help!

[2017-08-20 19:12] taineleau commented on #10
@yifita btw, feel free to give a feedback on using other activation.

[2017-08-21 15:12] yifita opened #11 "test failed on v0.2"
the efficient_densenet_bottleneck_test.py failed in test_backward_computes_backward_pass
[code]

I uncommented the [code](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py#L269) in densenet_efficient.py
[code]
but the issue persists.

[2017-08-21 17:30] yifita commented on #11
Hi I hope you guys could have a look at this, it seems like a pretty major problem.
So far keeping [L269](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py#L269) as is produces at least the same relu_output, but the backward convolution is always wrong. Could it be that the _cudnn_info from [L442](https://github.com/gpleiss/efficient_densenet_pytorch/bl

[2017-08-21 21:01] taineleau commented on #11
Hi, thanks for your info! I will look at it asap.

[2017-08-21 21:21] gpleiss commented on #11
@yifita what version of PyTorch are you using?

[2017-08-21 21:24] yifita commented on #11
I'm using cuda 8.0 python 3.6 pytorch 0.1.12

[2017-08-22 14:57] #10 closed

[2017-08-23 07:42] a2889184 opened #12 "error rate compute in demo.py"
Hi, thanks for this efficient densenet code.

But I found a probable mistake in demo.py at line 112:
`error = 1 - torch.eq(predictions_var, target_var).float().mean()`
it might have to be corrected to:
`error = 1 - torch.eq(predictions_var.view(-1), target_var).float().mean()`

Because the size of predictions_var and target_var are (train_size, 1) and (train_size, ), `torch.eq(...)` will return a

[2017-08-23 14:35] taineleau commented on #12
Hi, are you using PyTorch 0.2?

[2017-08-24 02:27] zhanghang1989 opened #13 "Any Pre-trained models on ImageNet"
Is there pre-trained models ready to use?

[2017-08-24 12:25] gpleiss commented on #13
We don't have pre-trained models that were trained using this implementation. It should be possible to convert the [existing pre-trained imagenet models](https://github.com/pytorch/vision/blob/master/torchvision/models/densenet.py) to work with this implementation.

[2017-08-24 12:40] gpleiss commented on #8
Sorry for the late reply!

1. `recompute_forward` was totally unnecessary. (Probably old code that we forgot to remove!) I'll push a change soon.

2. We turn training mode off in the second batch-norm forward to ensure that we're using the same `running_mean` and `running_var` statistics.

[2017-08-24 12:42] #8 closed

[2017-08-24 12:42] #9 closed

[2017-08-24 12:45] gpleiss commented on #11
I ran this on cuda 8.0, cudnn 5.1.5, python 3.6, and pytorch 0.1.12_2, and all the tests pass for me...

[2017-08-24 13:11] yifita commented on #11
interesting...I tested on multiple machines...
Oh i'm sorry, I actually have pytorch 0.2.0! I wonder how I got the previous version

[2017-08-24 13:28] taineleau commented on #11
@yifita I guess you'd like to have a look at the release note https://github.com/pytorch/pytorch/releases/tag/v0.2.0.

Basically, some fundamental operations' api is changed.

[2017-08-24 13:39] yifita commented on #11
had a look, seems that they focused on broadcasting and indexing while adding a few layers that I wanted to experiment in my model. So i'd prefer sticking around with 0.2.0.
will you be catching up the 0.2.0 version in this repository?

[2017-08-24 13:43] taineleau commented on #11
I think you could do this yourself. Add these lines and clean up all the warning should make this code work under ver 0.2:

[code]

see the `Important Breakages and Workarounds` part in the release note.

[2017-08-24 13:54] gpleiss commented on #11
We will be catching this repo up soon! I'll try to get to it later today.

[2017-08-24 14:22] yifita commented on #11
@taineleau it doesn't seem to be that straightforward. The only warning i had is nn.Container deprecated, but changing it to nn.Module didn't solve the issue.

[2017-08-24 14:25] taineleau commented on #11
@yifita hmmm... I come to realize that they might change the backend a little bit...

[2017-08-24 14:30] yifita commented on #11
yep :/ my guess is that it's related to double backpropagation

[2017-08-25 09:47] ahkarami opened #14 "Efficient Conv3d Class"
Hi @gpleiss , thanks for this efficient densenet code.
Would you please kindly, implement an '_Efficient Conv3d Class_'?
I will really appreciate if you can provide some guidance to me for implementing this class based on your 'EfficientConv2d' class.

[2017-08-26 02:20] a2889184 commented on #12
My PyTorch version is 0.2.0+925208a, I installing it from source.

[2017-08-27 14:06] feynman233 opened #15 "Is there any memory-efficient tensorflow Implementation？"
Hi, I have found the same problem about the GPU memory，and  is there any memory-efficient tensorflow Implementation？
Thanks very much!

[2017-08-28 11:17] gpleiss commented on #15
No TensorFlow implementation at the moment, sorry!

[2017-08-28 11:17] #15 closed

[2017-08-28 11:19] gpleiss commented on #14
Have you implemented a 3D convolution DenseNet already (not memory-efficient)?
I imagine it should be pretty similar to adapt my repo to 3 dimensions - just replace `Conv2d`, `BatchNorm2d`, and `AvgPool2d` with their respective `3d` layers.

[2017-08-28 16:58] ahkarami commented on #14
Thank you. I got it.

[2017-08-28 16:58] #14 closed

[2017-09-01 06:58] mosttl commented on #12
I met the same problem with the latest PyTorch (v0.2.0) installed, and also figured out the same solution.

[2017-09-01 20:41] taineleau commented on #12
The code currently is based on PyTorch v0.1.12. We will release the code for the latest PyTorch version soon. Please kindly use v0.1.12 for now. Thanks!

[2017-09-01 20:42] #12 closed

[2017-09-04 09:33] wandering007 opened #16 "Cannot reproduce the cifar100 results using models/densenet.py (not efficient)"

[2017-09-04 19:18] wandering007 commented on #16
Proved that it is my own bug. Bothered.

[2017-09-08 19:20] ZhengRui commented on #13
I converted `densenet121` if anyone is interested, you can download from [here](https://drive.google.com/file/d/0B3aawkjLrbgMbWZxSmlDeXhFV3c/view?usp=sharing), but that requires some changes to the `DenseNetEfficient` class:
[code]

then you can instantiate the densenet121 model
[code]

[2017-09-08 22:01] ZhengRui opened #17 "`DenseNetEfficientMult` not giving same forwarding result as `DenseNetEfficient`"
I tried to train on multi gpus, and after a lot of tries I found `DenseNetEfficientMulti` is not giving same output as `DenseNetEfficient`, actually `DenseNetEfficientMulti`'s output depends on how many `device_ids` specified in `DataParallel`. However, when only specify one gpu, it indeed gives same result as `DenseNetEfficient`. And when selected gpus are fixed, `DenseNetEfficientMulti`'s output

[2017-09-09 19:00] ZhengRui commented on #17
I found the issue is because for me to use densenet121 structure, I have to change the first few layers a little bit, especially the max pooling layer might cause this issue. Will confirm this soon.

[2017-09-09 20:01] ZhengRui commented on #17
I found it is related to the batchnorm layers. However, I also tested the batchnorm layer inside the denseblock, it also gives different results when using single gpu or multi gpus. Just to confirm, @taineleau is the batchnorm layer inside each dense layer asynchronized?

[2017-09-09 21:16] ZhengRui commented on #17
Ok, things are clear to me now, in eval() mode, the multi gpu and single gpu will give same results. The different results I got even in eval() mode is because my feature extraction script doesn't take into account of the multi gpu case. In train() mode, it is expected multi gpu and single gpu will give different results due to batch norm layer. I am closing this issue now.

[2017-09-09 21:16] #17 closed

[2017-09-11 11:04] gpleiss commented on #13
Thanks @ZhengRui! Any chance you can make a PR adding those changes?

[2017-09-11 19:02] ZhengRui commented on #13
Pull request sent, you may take a look. I also make multi-gpu and single-gpu having the same module names, so models can be shared between them.

[2017-09-19 01:04] tryerrorman opened #20 "Why the Error is very high?"
I run the demo on cifar 10 and have got the result show below. I found the error is around 0.9 in all the epoches. And the final error is very high(0.897). Is it right?
`
Eval: (Epoch 300 of 300) [0016/0020]  Time: 0.06535 (1.054)  Loss: 0.47998 (0.388)  Error: 0.89749 (0.897)

Eval: (Epoch 300 of 300) [0017/0020]  Time: 0.06668 (1.120)  Loss: 0.34982 (0.385)  Error: 0.89259 (0.897)

Eval: (Epoch

[2017-09-19 04:28] stevenwudi commented on #20
Same for me here, weird.

[2017-09-20 12:35] tryerrorman commented on #20
Yes, you are right. It works in other logic. But I haven't find the logic error here.
Thank you very much.

[2017-09-21 03:36] tryerrorman commented on #20
I found the problem was caused by the different dimension of predictions_var and target_var.
So I change the codes from
[code]
to
[code]

[2017-09-21 07:59] #20 closed

[2017-09-22 12:10] gpleiss commented on #16
Provide more details?

[2017-09-22 12:11] gpleiss commented on #13
Merged #19 - closes this issue

[2017-09-22 12:11] #13 closed

[2017-09-22 14:07] wandering007 commented on #16
@gpleiss Thanks for your kind reply. I've already fixed it.

[2017-09-29 20:36] #16 closed

[2017-10-02 19:00] taineleau commented on #11
Sorry for the late response.
@yifita : Thanks for your feedback!

After looking at the v0.2's backend, I guess the convnd is broken mainly because they refactored the API a little bit. Currently, they have [removed](https://github.com/pytorch/pytorch/pull/2566/commits/eb48acebc9bede4f868134487a86b08e3b2cf917) the Python level code calling the conv.backward from the code base so it's a little bit h

[2017-10-04 06:53] taineleau commented on #11
Update:

I shot an email to PyTorch's developer and he said the API of `torch._C._cudnn_convolution_` was not changed, so I am sorry that I cannot figure it out.

However, the good news is that I have run the models on PyTorch v0.2, the performance (both final accuracy and speed) remains **the same** as that on v0.1.12.

So I guess this issue wouldn't be a big concern for now.

[2017-11-16 07:59] tengshaofeng opened #21 "efficient seams not so efficient."
hi, @gpleiss ,
  i am so appreciate with your great job. but when i try your code on 448*448 images,  depth of 40 net can
not work with batch size of 10.  so it  will  not be trained on depth of 101.  my gpu is 11GB.
can you help me?

[2017-11-16 19:37] gpleiss commented on #21
448 x 448 images are rather large, so this may be reasonable behavior.

[2017-11-17 05:44] tengshaofeng commented on #21
ok, thanks

[2017-11-17 23:18] #21 closed

[2017-12-04 18:56] zhiqiangdon opened #22 "Could it be MORE memory efficient?"
Hi,

Thanks for your code. I read both the single-gpu and multi-gpus codes. For the single-gpu version, you create the shared memory inside each dense block. Could all the dense blocks share the same memory and you only allocate one block of space? I think it should further reduce the space usage.

For the multi-gpus version, you create the shared memory in the initialization method of the whole n

[2017-12-06 06:07] wandering007 commented on #8
@gpleiss @zhiqiangdon About question 2, I don't understand either. According to @gpleiss 's answer, why commenting [this line](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py#L279)? aka `self.efficient_batch_norm.training = False`

[2017-12-06 11:31] EliasVansteenkiste opened #23 "Pretrained models"
Any plans to make pretrained models available?
Or is it possible to use the pretrained models from https://github.com/liuzhuang13/DenseNet#results-on-imagenet-and-pretrained-models?

Thanks in advance,

[2017-12-07 01:24] taineleau commented on #22
You're right.

[2017-12-07 19:19] zhiqiangdon commented on #22
Thanks @taineleau,

For the single-gpu code, I tried to modify it to make the _EfficientCat and _EfficientBatchNorm to use one block of space. The code could run. However, for the first several iterations, the accuracy keeps decreasing. When I use code without this modification, the accuracy has the trend of increasing. It seems wired. Do you have any hint?

[2017-12-09 14:35] yyjFish opened #24 "I meet this problem when I run the demo.py. How to solve it?"
Training
Traceback (most recent call last):
  File "demo.py", line 272, in <module>
    fire.Fire(demo)
  File "/home/yyj/anaconda2/lib/python2.7/site-packages/fire/core.py", line 127, in Fire
    component_trace = _Fire(component, args, context, name)
  File "/home/yyj/anaconda2/lib/python2.7/site-packages/fire/core.py", line 366, in _Fire
    component, remaining_args)
  File "/home/yyj/anaconda

[2017-12-11 23:58] taineleau commented on #24
Could you please specify your environment (OS, PyTorch version)?

[2017-12-12 00:06] taineleau commented on #22
Hi, thanks for your trial! First of all, does your modified version pass all the tests (under PyTorch 0.12)? I am currently busy writing my Ph.D. application. Would like to take a look after 15 Dec.

[2017-12-12 00:08] taineleau commented on #23
Hi,
It should be easy to achieve if you follow some [example code](https://github.com/clcarwin/convert_torch_to_pytorch).

[2017-12-15 14:40] Vandermode commented on #24
also meet this error. it seems cudnn wrapper api changed.
[code]
[code]
OS version is ubuntu 16

[2017-12-17 13:49] yyjFish commented on #24
@taineleau  appreciate for your answer.

This is the environment of my computer:

Pytorch  ———— 0.3
Cuda ————  8.0
Cudnn ———— 5.1
OS ———— Linux16.04

[2017-12-17 15:49] yyjFish commented on #24
@Vandermode  I'm agree with you,       Do you solve this problem?

[2017-12-18 18:51] zhiqiangdon commented on #22
@taineleau Sorry for the late reply. I didn't test on all tests. Actually, I use the efficient dense connection in my own method which is for a different task. The performance I observe is from my own task.

[2017-12-18 19:14] gpleiss commented on #23
See #13. @ZhengRui made some pretrained models, available here: https://drive.google.com/file/d/0B3aawkjLrbgMbWZxSmlDeXhFV3c/view

[2017-12-18 19:14] #23 closed

[2017-12-18 19:15] gpleiss commented on #24
Right now we're not compatible with PyTorch verison 0.3. We'll work on it!
If you don't mind, I'll close this issue and open a more generic "0.3 compatibility issue."

[2017-12-25 08:06] phybrain opened #25 "how implement memory efficient DenseNet using Tensorflow?"
is there a master can  convet pytorch implementation to tf？

[2017-12-27 22:23] taineleau commented on #25
Please read our technical report first. https://arxiv.org/pdf/1707.06990.pdf
Basically, the efficient DenseNet requires manually allocating memory for the output of BN/conv/concat.

[2017-12-28 00:39] taineleau commented on #24
Some updates.
I found the pytorch 0.3 changed the API a little bit. For `_cudnn_convolution_*`, you have to pass a `deterministic` flag.  see [this branch](https://github.com/gpleiss/efficient_densenet_pytorch/tree/pytorch0.3). This branch is runnable under 0.3., but the result is wrong.

[2017-12-28 07:57] phybrain commented on #25
I have read the report ，however I can't find a way to implement  allocating-memory  concat  in  tensorflow

[2017-12-28 19:24] taineleau commented on #25
@phybrain alas, so currently I don't think you can do it in Tensorflow.

[2018-01-09 12:16] mingminzhen commented on #13
I have converted the pretrained models to pytorch efficient models. You can download from [here](https://github.com/mingminzhen/densenet-efficient-model). Or you can convert it yourself.

[2018-01-10 06:33] mingminzhen commented on #11
For the torch._C._cudnn_convolution_ issue, I try to change the invoking as
[code]

Additional "False" parameter is added. It works in the master version of PyTorch (0.4).
But I'm not sure about the meaning of the parameter.

[2018-01-10 07:48] taineleau commented on #11
@mingminzhen  This flag means using deterministic conv or not. This is not the issue though. Please check this [topic](https://discuss.pytorch.org/t/0-3-cudnn-convolution-deterministic-flag/11617/).

[2018-02-03 02:12] MattKleinsmith commented on #24
Some test results added to: https://discuss.pytorch.org/t/0-3-cudnn-convolution-deterministic-flag/11617/11?u=matthewkleinsmith

[2018-02-10 01:47] mingminzhen opened #26 "storage resize_ function"
I try to use torch.storage in my network. I use Pytorch3.

[code]

The output is
[code]
The self.storage comes from ``` self.storage= torch.Storage(1024)```.
It seems the **resize_** function will change the gpu where the storage will be saved.
I wish the storage is saved in GPU 1 rather than 0.
How can i do that?

[2018-02-23 18:14] gpleiss commented on #26
Right now things are a bit broken on PyTorch 0.3. I'm working on a fix for it.

[2018-02-23 18:15] gpleiss commented on #24
I'm going to try a fresh implementation of this, which doesn't use the low-level api calls. What I'm thinking is using the functional api, and then being clever with variable detaching and the such.

I'll hopefully have something to post this weekend!

[2018-02-28 07:53] mingminzhen commented on #26
In pytorch0.3, "with" can solve this problem.

[code]

[2018-02-28 14:45] gpleiss commented on #26
Thanks @mingminzhen ! I'm going to push some 0.3 fixes soon, so I'll include that.

[2018-03-05 04:57] pzz2011 commented on #11
Sorry to ask the following question(🙁)

Where is the definition of torch._C._cudnn_convolution_* ?

I searched in the base dir of pytorch project but failed to get its definition.

[2018-03-05 09:03] soon-will opened #27 "Pre-trained weight"
Thank you for your effort. Do you know where to find the pre-trained weight implemented by pytorch?

[2018-03-05 14:23] gpleiss commented on #27
There's a link to some pre-trained models in the last comment on issue #13

[2018-03-05 14:23] #27 closed

[2018-03-13 19:21] gpleiss commented on #11
With #28, this repo is now compatible with PyTorch 0.3.x. Closing this issue.

[2018-03-13 19:21] #11 closed

[2018-03-13 19:21] gpleiss commented on #26
This should be fixed with #28.

[2018-03-13 19:21] #26 closed

[2018-03-13 19:22] gpleiss commented on #24
Should be fixed now with #28.

[2018-03-13 19:22] #24 closed

[2018-03-13 19:24] #22 closed

[2018-03-19 17:02] g5996706 opened #30 "Input data size"
Hi, thanks for this efficient densenet code.
I have some problems.
I try to use different input data size to train the model,
If the size is smaller than 64 * 64 that will be no problem
but if the size is bigger than 64 * 64  the errors will appear.
RuntimeError: size mismatch at /pytorch/torch/lib/THC/generic/THCTensorMathBlas.cu:247
Can you point me how to fix it?
Thank you so much.

[2018-03-19 21:24] gpleiss commented on #30
@g5996706 this model is a classification model, so it's designed to take inputs of fixed size. With `small_inputs=True` (the default option) passed to the constructor (See the [docstring](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py#L156)), the network is designed to handle 32x32 images, such as CIFAR or SVHN images. With `small_inputs=False`, the

[2018-03-19 21:24] #30 closed

[2018-03-20 00:00] ZhengRui opened #31 "Multi-GPU model in pytorch0.3 consumes much more memory than pytorch0.1 version"
Just tried the new implementation in pytorch0.3, but it consumes much more memory than old implementation. Some issues:

1. when the model runs on a single gpu, it still allocates shared storage on all the gpus, i think the `for device_idx in range(torch.cuda.device_count())` part in `_SharedAllocation()` part requires some modification and optimization.

2.  when the model runs on multi gpu, the

[2018-03-20 00:25] gpleiss commented on #31
@ZhengRui when I ran the demo script (latest version of master, pytorch 0.3), it consumes the same amount of memory as the original implementation (within ~100MB). Do you notice the memory increase when you run the demo script? Can you give me specific steps to replicate?

1) "when the model runs on a single gpu, it still allocates shared storage on all the gpus" - if you don't want memory allocat

[2018-03-20 04:02] ZhengRui commented on #31
@gpleiss  I just ran some more tests. The memory differences is indeed similar in single GPU case. When i compare it on my desktop with 4 gpus, the memory usage is quite different:

old densenet201 model can support batch size 440 per gpu (even in training mode with bp):
[code]
memory usage:
[code]

new model can not support that batch size (even for inference):
[code]
[code]

For the 2nd issue I

[2018-03-21 06:29] g5996706 commented on #30
Thank you for your answer.
If I want to use the 224 * 224 as input ,in addition to setting small_inputs=False ,
should I change any other places?

[2018-03-21 21:03] gpleiss commented on #31
Thanks @ZhengRui for the profiling! I'll look into this later this week.

[2018-03-21 21:04] gpleiss commented on #30
Yes `avgpool_size` should become 7. You should also use a `block_config` with 4 blocks, rather than 3.

[2018-03-27 12:56] seyiqi opened #32 "Compatibility with PyTorch 0.4"
Thanks very much for sharing this implementation. I forked the code. It works great on PyTorch 0.3.1. But when I ran it with 0.4.0 (master version), I got following error (I made some minor change so the line number wouldn't match):
  File "../networks/densenet_efficient.py", line 330, in forward

    bn_input_var = Variable(type(inputs[0])(storage).resize_(size), volatile=True)

TypeError: Variab

[2018-03-27 12:58] seyiqi commented on #32
I forgot to mention that this issue is related to this file:

https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet_efficient.py

[2018-03-30 14:13] gpleiss commented on #32
Right... I think that the way it is written is currently incompatible with PyTorch version 0.4. I've mostly been testing against 0.3. I'll try to make it compatible with both versions.

[2018-04-13 03:11] panjunwen opened #33 "Test failed on PyTorch 0.3.1 with CUDA 9.0"
AssertionError  in test_forward_training_true_computes_forward_pass:
assert almost_equal(layer.norm.running_mean, layer_efficient.norm_running_mean)
assert almost_equal(layer.norm.running_var, layer_efficient.norm_running_var)

 layer.norm.running_mean =
0.2516
 0.0036
-0.6237
 0.2686
-1.1193
 1.2112
-0.0139
 0.0237
[torch.FloatTensor of size 8]
 layer_efficient.norm_running_mean=
 0.2840
-0.0010

[2018-04-13 19:58] gpleiss commented on #33
Hmmm it's probably a CUDA 9 bug. I'll investigate.

[2018-04-16 08:12] panjunwen commented on #33
I test it on cpu and it failed as well.

[2018-04-16 12:28] #33 closed

[2018-04-16 12:29] gpleiss commented on #33
I think this broke when we tried to make things more efficient in #29. Should be fixed now!

[2018-04-16 12:31] gpleiss commented on #32
Sorry for the slow reply. @taineleau pointed out that PyTorch 0.4 has a [checkpoint feature](http://pytorch.org/docs/master/checkpoint.html). This will essentially do most of the work that's being done in the efficient implementation right now. I'll look into this, hopefully next week.

[2018-04-26 01:17] ustctf opened #34 "The final test accuracy"
Hi,  Thanks for this implementation ! I'm wondering how to obtain the quite strong test set result on CIFAR-10, as reported in the original densenet paper (e.g., error rate <=3.5 on C-10+, with depth =190, growth_rate = 40). When I run the script as:

_CUDA_VISIBLE_DEVICES=0,1,2,3 python demo.py --depth 190 --efficient False --data ./data --save ./ckpts_

The final test error is reported as 0.0535

[2018-04-26 12:03] wandering007 commented on #32
@gpleiss @seyiqi I just release the code runnable with PyTorch 0.4 and pass the single-gpu case. However, [it does not work in the multi-gpu case](https://github.com/wandering007/efficient-densenet-pytorch/issues/1), which is weird. Needing help~

[2018-04-26 12:08] taineleau commented on #34
Could you please show the configuration (e.g., pytorch version, python version)?

[2018-04-26 12:11] taineleau commented on #32
@wandering007 I suggest you take a look at the checkpoint feature. This helper function should handle multi-gpus nicely.

[2018-04-26 12:14] gpleiss commented on #32
@taineleau @wandering007 I'm thinking we should re-write this code to just work with PyTorch 0.4, using the checkpointing feature. We can make a branch/tag of the current code for people who are still using PyTorch 0.3.

[2018-04-26 12:15] wandering007 commented on #32
@taineleau Actually, what we do is basically like checkpoint feature and seems more efficient...

[2018-04-26 12:30] gpleiss commented on #34
I noticed recently that I was missing the appropriate initialization of the models. Try it again and let me know what the error is.

[2018-04-26 13:28] gpleiss commented on #32
Sorry @wandering007 not sure what you mean. Are you saying that you currently have an implementation that's using checkpointing?

[2018-04-26 13:37] wandering007 commented on #32
@gpleiss uh...no, I didn't use the checkpoint feature. But I've looked at the source code of checkpointing feature, the implementations are very similar. The inefficiency of checkpoint may include these points:

1. Though concat-bn-relu can be checkpointed, the relu-ouput cannot use the same shared memory unless we hack it like what you've done before.
2. If concat-bn-relu-conv is checkpointed, th

[2018-04-26 15:46] gpleiss commented on #32
@wandering007 checkpointing takes care of it all. I profiled it, and the models are far more memory efficient than they ever were. The PyTorch team has optimized the memory usage of autograd like crazy.

Besides that, the checkpointing feature seems to be really smart. When memory isn't an issue (e.g. for big GPUs/smaller models), the checkpointing code does less memory-efficient optimizations so

[2018-04-26 15:47] gpleiss commented on #31
This will be fixed with the PyTorch 0.4 updates in #35

[2018-04-26 16:39] ZhengRui commented on #31
great, will test it soon :grinning:

[2018-04-27 12:51] gpleiss commented on #32
Closed by #35

[2018-04-27 12:51] #32 closed

[2018-04-27 12:52] gpleiss commented on #31
Closed by #35

[2018-04-27 12:52] #31 closed

[2018-04-27 12:54] gpleiss commented on #34
With the new initialization in c609c0c4 I was able to match the errors reported in the original paper. Closing this issue for now. If you're still noticing issues feel free to reopen.

[2018-04-27 12:54] #34 closed

[2018-04-28 03:48] ustctf commented on #34
@gpleiss

Sorry but I got the same test set error rate (>5) using your new initialization.

The command:

`CUDA_VISIBLE_DEVICES=0,1,2,3 python demo.py --depth 190 --efficient False --data ./data --save ./ckpts`

Can you show me your script to match the claimed error rate?

BTW the python version: Python 3.6.1 |Anaconda custom (64-bit)|
pytorch version:  0.3.1.post2
gpu: 4 titanXp

Thanks.

[2018-04-28 13:44] gpleiss commented on #34
python demo.py --depth 100 --efficient False --data ./data --save ./ckpts --batch_size 64 --valid_size 0

These are the same hyperparameters as in the paper. I got a final test error of 0.047

[2018-04-30 17:05] wandering007 opened #36 "`nn.DataPallel` fails for checkpoint feature"
I just want to benchmark the new implementation of efficient densenet with the code [here](https://gist.github.com/wandering007/d7f3db11285f382fefa39a9cda99ad0d). However, it seems that the used checkpointed modules are not broadcast to multiple GPUs as I got the following errors:

[code]
I was confused and couldn't figure it out. And it seems that the backward of `nn.DataParallel` is too slow (wh

[2018-05-04 11:15] tengshaofeng opened #37 "not worked in python3 environment"
hi , it worked when in python2 environment, but failed in python3.

*** Error in `/home/tengbq/.virtualenvs/py3/bin/python': free(): invalid next size (fast): 0x00007f5f8d34c3b0 ***
======= Backtrace: =========
/lib/x86_64-linux-gnu/libc.so.6(+0x777e5)[0x7f640b7e57e5]
/lib/x86_64-linux-gnu/libc.so.6(+0x7fe0a)[0x7f640b7ede0a]
/lib/x86_64-linux-gnu/libc.so.6(cfree+0x4c)[0x7f640b7f198c]
/usr/local/cu

[2018-05-04 13:01] gpleiss commented on #37
It works for me in python 3.6 (on various machines)
That stack trace looks like it might be an issue with your PyTorch installation?

[2018-05-04 13:15] panjunwen opened #38 "FP become slower after upgrade to 0.4"
Hi,
Thanks for your works!
Recently I upgrade my network to 0.4 with your implementation of DenseNet. And I found that the new version is slower than before. I thought that the shared memory could speed up the forward pass obviously.In my application, predicting one subject on the 0.3.x version cost 9s but now it need 11s.

The dice metric also get worth than before. I found that in the new code y

[2018-05-05 08:13] tengshaofeng commented on #37
pytorch is no problem.  and my torch version is 0.3.1.
some one said that maybe malloc but use delete, or new but use free .
经查，这通常发生在C/C++混合编程时候调用的内存分配、释放接口不配对时。

即malloc分配的内存，却用了delete或者new出来的对象，却用了free.

只要确保：malloc/free new/delete配对，该问题就消失了。

[2018-05-06 11:32] #38 closed

[2018-05-08 12:12] gpleiss commented on #37
This model only works with PyTorch 0.4, as it says in the Readme.

[2018-05-08 12:12] #37 closed

[2018-05-08 12:12] gpleiss commented on #36
Oooh @wandering007 good catch. I'll take a look.

[2018-05-08 12:15] gpleiss commented on #38
Were you using the efficient implementation before? I think efficient is true by default.
The speed of the efficient version now depends on how much memory you have available. The more memory, the faster it runs.

What is the "dice" metric?

[2018-05-08 12:29] panjunwen commented on #38
Thanks for your reply.
Yes. I use your efficient implementation before.
I found that the forward pass cost more time now, and I think the shared memory may speed up the forward pass.

[2018-05-08 12:31] panjunwen commented on #38
Dice == F1-score.
I use it to evaluate my network. I'm confused that the performance get worse after I update to 0.4.x.

[2018-05-08 15:03] panjunwen commented on #38
I apply DenseNet on 3D medical image segmentation.
F1-score is computed in numpy on per-class. Data set is labeled by myself.
Everything works well with pytorch 0.3.1 and your efficient implementation before. I re-read the paper and found that you use MSRA inialization and now I can confirm that initialization is not the problem.
I check the PyTorch code about checkpointing. It just drop the inter

[2018-05-09 02:51] panjunwen commented on #38
I locate the main problem and everything works well now.
I'm misleaded by this tutorial [https://pytorch.org/2018/04/22/0_4_0-migration-guide.html].
Thanks for your reply.

[2018-05-09 02:52] panjunwen commented on #38
I locate the main problem and everything works well now.
I'm misleaded by this tutorial [](https://pytorch.org/2018/04/22/0_4_0-migration-guide.html).
Thanks for your reply.

[2018-05-09 08:15] wandering007 commented on #36
@gpleiss This implementation (https://github.com/wandering007/efficient-densenet-pytorch) has good support for `nn.DataParallel`, which may be helpful.

[2018-05-13 03:45] ZhengRui commented on #31
@gpleiss, can you share some memory comparison results between the new pytorch0.4 model and old models, i found the pytorch0.4 model consumes way more memory even in single gpu. Here is a simple test of densenet201 on 1080Ti (11G), can only afford batch size around 100, while the old model can support batch size around 600:

[code]

[2018-05-13 17:04] ZhengRui commented on #31
Issues comes from network parameter's requires_grad are still true even after `net.eval()` in pytorch0.4.

[2018-05-13 17:50] ZhengRui commented on #31
my bad, should have read the [0.4 migration guide](https://pytorch.org/2018/04/22/0_4_0-migration-guide.html) more carefully, the proper inference code should be like
[code]
not the batch size can also support 600 with the pytorch0.4 model, nice update.

[2018-05-13 23:26] gpleiss commented on #36
Just merged in #39 . @wandering007 , can you confirm that this fixes the issue?

[2018-05-14 04:29] wandering007 commented on #36
@gpleiss Yes, it works fine. However, there is one thing that I've noticed before and have to mention, though out of the scope of this issue. With checkpointing feature, the whole autograd computation graph is broken into pieces. And the current `nn.DataParallel` backward process is roughly *backward in each GPU asynchronously* and *inter-GPU communication for collecting weight gradients (aka, red

[2018-05-14 12:10] gpleiss commented on #36
@wandering007 hmmm that is problematic...

In general, I think that the checkpointing-based approach is probably what we should be doing moving forward. The original version was using some low-level calls which are no longer available in PyTorch. Using those low-level calls would require some C code, which is in my opinion undesirable for this package.

However, it sounds like the checkpointing-ba

[2018-05-17 02:25] Kexiii opened #40 "pretrained densenet169 weights"
Hi, thanks for your great work!
I'm working on densenet169 these days, do you know where I can find the ImageNet pretrained weights for this efficient implementation? Or do you have any example code to show how to convert the other implementation's pretrained model to this one?
I do have noticed this #13 , but it seems @ZhengRui didn't provide any example code, and I don't know where to start..

[2018-05-23 22:40] gpleiss commented on #40
I think you should be able to use any of the PyTorch pretrained DenseNets:

[code]

Those urls should have the weights. Let me know if this works!

[2018-05-24 02:40] gpleiss commented on #40
Did you try the ones here: https://github.com/mingminzhen/densenet-efficient-model

[2018-05-24 02:55] Kexiii commented on #40
Yes, but it is based on the pretrained memory efficient torch model(232,264):
[https://github.com/liuzhuang13/DenseNet](url)
In the tech report, they didn't provide efficient densenet169 pretrained torch model that I want

[2018-05-24 02:58] gpleiss commented on #40
Try converting the pytorch model then. All you have to do is change the name of the keys in the state duct in the link that I supplied. That’s how we created the other efficient densenets.

Best,
Geoff

On May 23, 2018, 10:55 PM -0400, Kexiii <notifications@github.com>, wrote:

[2018-05-24 03:07] wandering007 commented on #36
@gpleiss It may be tough for now...To be frank, I am still in favor of the previous implementation (v0.3.1) via `_EfficientDensenetBottleneck` class and `_DummyBackwardHookFn` function without touching any C code. I've just made some improvements on it and it seems very neat and workable for PyTorch v0.4. You can check https://github.com/wandering007/efficient-densenet-pytorch/blob/master/efficien

[2018-05-24 12:09] Kexiii commented on #40
Thanks for your advice,
want to let you know I've tried to convert the densenet169:[https://github.com/Kexiii/Pretrained-Efficient-DenseNet](https://github.com/Kexiii/Pretrained-Efficient-DenseNet)

[2018-05-27 13:05] ustctf commented on #34
Thanks @gpleiss , I can reproduce now and with --depth 190, --growth_rate 40, the test error is 0.035.

[2018-07-12 15:27] nessieyang opened #42 "Can't not train when using a 256*256 dataset"
I can run the network by using CIFAR-10 as my dataset.
However, when I use my own dataset which has the size of 256*256 , it can not work.
I tried to transform my data into 32*32, it also works.
So how can I solve the scaling problem?

[2018-07-13 07:12] gpleiss commented on #42
Set `small_inputs=False` in the [model constructor](https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet.py#L89).

[2018-07-13 07:12] #42 closed

[2018-07-13 07:13] gpleiss commented on #42
`small_inputs=True` expects 32 x 32 images. `small_input=False` expects 224 x 224.

[2018-09-10 18:29] Srinidhipy opened #43 "Softmax layer is missing in the code."
Hi,
I am currently trying to understand ur densenet code. As given in the paper DENSENET which is given as follows:
**At the end of the last dense block, a global average pooling is performed and then a softmax classifier is attached.**
But I am unable to find softmax layer in your optimised code. Please, could you kindly provide me how this has been implemented in Densenet.py file.
Thanks

[2018-09-11 12:39] gpleiss commented on #43
The softmax is handled by the `torch.nn.functional.cross_entropy` loss. See https://pytorch.org/docs/stable/nn.html?highlight=cross%20entropy#torch.nn.functional.cross_entropy

[2018-09-11 12:39] #43 closed

[2018-09-11 12:51] Srinidhipy commented on #43
Thanks for your kind reply.

On Tue, 11 Sep 2018, 6:09 pm Geoff Pleiss, <notifications@github.com> wrote:

[2018-09-20 16:05] mingminzhen opened #44 "torch.utils.checkpoint cost too much memory than previous 0.3 version"
Hi,
I test the 0.4 version. I find out that the torch.utils.checkpoint cost more memory than your implementation on pytorch0.3 by using torch._C._cudnn_batch_norm_forward.
But i can not find the similar functions like torch._C._cudnn_batch_norm_forward in 0.4.
Do you want to implement it for pytorch0.4?

[2018-09-26 15:19] gpleiss commented on #44
In this repo, I'm not planning on implementing functions like `torch._C._cudnn_batch_norm_forward`. I want this implementation to be stand-alone (without requiring building/compiling).

It wouldn't be too difficult to write thin C wrappers that implement `torch._C._cudnn_batch_norm_forward`, but then you wouldn't be able to use the efficient model without additional installation.

[2018-09-26 15:19] #44 closed

[2018-10-05 10:07] jugol opened #45 "Is there any option to run ImageNet in this demo?"
I checked the small_inputs parameter in model however couldn't find the loading options in demo code.

[2018-10-05 15:58] gpleiss commented on #45
The demo isn't set up to run Imagenet, sorry.

[2018-10-05 15:58] #45 closed

[2018-10-09 16:22] PabloRR100 opened #46 "Number of parameters doesn't match with naïve implementation"
Hi @gpleiss,

I was trying to train an ensemble of DenseNets_BC_100_12 in 2 GPU NVIDIA k80 when I encountered the memory efficient problem. However, I my research is sensible in terms of the number of parameters, and when I moved to this implementation they do not match any more.

In this implementation [file](https://github.com/PabloRR100/Single_vs_Ensemble_of_NNs/blob/master/DenseNets/densenets_

[2018-10-09 20:56] gpleiss commented on #46
My guess is that they're using a different block configuration:

Their DenseNet-100 uses a block configuration of (32, 16, and 8) (https://github.com/PabloRR100/Single_vs_Ensemble_of_NNs/blob/master/DenseNets/densenets_Efficientpy.py#L161), which is actually a 116-layer DenseNet. The standard configuration for a 100-layer Densenet, which you're presumably using, is (16, 16, 16).

[2018-10-09 20:56] #46 closed

[2018-10-10 17:03] PabloRR100 commented on #46
Thanks @gpleiss I think I figured out the problem.
Could you just confirm if the configuration blocks for CIFAR10 are constant for the different Dense Blocks? Being:

denseNetBC_100_12: (16,16,16)
denseNetBC_250_24: (41, 41, 41)
denseNetBC_190_40: (31,31,31)

This way I am getting the same number of parameters:
[code]

[2018-10-11 12:13] gpleiss commented on #46
That matches my understanding of the original paper, yes.

[2018-10-21 04:09] yzcjtr commented on #36
Maybe this issue could have been made more clear in the readme. I followed the implementation in my project but found it doesn't work with dataparallel ...

[2018-10-23 20:33] gpleiss commented on #36
@theonegis can you provide more information? What version of PyTorch, what OS, what version of CUDA, what GPUs, etc.? Also, could you open up a new issue for this?

[2018-10-23 20:43] theonegis opened #47 "Segmentation fault (core dumped) error for multiple GPUs"
Environment:
- Python: 3.6
- PyTorch: 0.4.0
- OS: Ubuntu 18.04.1 LTS
- CUDA: V9.1.85
- GPU: Tesla K80
Problem:
I was running a model that does not need BatchNorm, so I changed the original DesneNet a little bit.
Here is the code snippet:
[code]
It can run on single GPU, but it throws a Segmentation fault (core dumped) error when running on multiple GPUS. What can be caused this issues?

[2018-10-23 20:45] theonegis commented on #36
@gpleiss I have opened a new issues. [Segmentation fault (core dumped) error for multiple GPUs](https://github.com/gpleiss/efficient_densenet_pytorch/issues/47).
Thanks a lot.

[2018-10-23 20:51] yzcjtr commented on #36
Hi @gpleiss , really sorry for my previous misunderstanding. I'm confronted with a similar situation as @theonegis . I will provide more information in his new issue. Thanks.

[2018-10-24 14:29] theonegis commented on #47
I noticed that there was a similar issue in PyTorch repository [Segfault in dataparallel + checkpoint #11732](https://github.com/pytorch/pytorch/issues/11732). It seems that it has not been fixed yet.

[2018-10-24 15:43] Ushk commented on #47
@theonegis - I raised the original issue. Just to check whether they are similar problems, can you copy the faulthandler output here, to see if also points to cp.checkpoint being the issue?

`import faulthandler`
`faulthandler.enable()`

at the beginning of your code should output a traceback when your code segfaults.

(Apologies to the PyTorch devs if this is not helpful, I'm just curious)

[2018-10-24 22:16] theonegis commented on #47
@Ushk
[code]

[2018-10-24 22:18] theonegis commented on #47
@Ushk
[code]

[2018-10-25 11:28] gpleiss commented on #47
@theonegis what happens if you upgrade to the latest stable version of PyTorch (0.4.1)?

[2018-10-26 14:16] theonegis commented on #47
@gpleiss Updating to the version 4.1 solved this problem. Many thanks!

[2018-10-26 16:02] theonegis commented on #47
@gpleiss Still the same problem.

[2018-10-26 16:37] Ushk commented on #47
Yeah, just an FYI, I'm on 0.4.1 as well.

[2018-11-10 14:55] joeyearsley commented on #25
I've recreated the tensorflow version using gradient checkpointing like this repo does now.
https://github.com/joeyearsley/efficient_densenet_tensorflow

[2018-11-10 14:56] joeyearsley commented on #15
https://github.com/joeyearsley/efficient_densenet_tensorflow

[2018-11-10 21:56] gpleiss commented on #25
Awesome! Thanks @joeyearsley ! I'll link to it in the readme.

[2018-11-10 21:56] #25 closed

[2018-12-01 23:35] csrhddlam commented on #36
The PyTorch official checkpointing is slow on MultiGPUs as explained by @wandering007 . https://github.com/csrhddlam/pytorch-checkpoint solves this issue.

[2018-12-01 23:40] csrhddlam opened #48 "Could you add a License?"
Hi, I'm using this repo in my project which I plan to release soon, but it seems illegal to use your code without your permission. Could you add an open source license to this repo so that I can include your copyright in my project? It should take less than one minute to do so. Thanks.

[2018-12-02 15:15] gpleiss commented on #48
Done!

[2018-12-02 15:15] #48 closed

[2018-12-18 07:54] mlinxiang opened #50 "does this code support pytorch1.0 and the jit feature for c++ online deployment?"

[2018-12-18 18:45] gpleiss commented on #50
I haven't tested it out on pytorch 1.0 yet, but I imagine it should work!
It'll probably take a bit of work to get it working with the JIT compiler

[2018-12-19 01:49] mlinxiang commented on #50
@gpleiss will you continue support the new jit feature?

[2019-01-18 04:00] garyfanhku opened #51 "Validation dataset is being augmented as well"
Thanks for the great repo! Just found out that transformation was applied prior to train val split, effectively augmenting validation set. I don't have a neat solution for this but maybe this gist  https://gist.github.com/kevinzakka/d33bf8d6c7f06a9d8c76d97a7879f5cb could be a way out, although it has to load twice the same data.

[2019-01-23 18:37] gpleiss commented on #50
I would like to, but I probably won't have time in the near future. Open to a PR though :)

[2019-01-27 20:59] gpleiss commented on #51
Thanks for the catch. This has been updated with b0a156d87b736d90c3e27933e8e4d0114bd5ef36

[2019-01-27 20:59] #51 closed

[2019-02-08 19:23] PabloRR100 opened #52 "What is the minimum GPU memory required? Still breaks for me in a single GPU"
**Amazon p3.2xlarge: 1 GPUs - Tesla V100 -- GPU Memory: 16GB -- Batch Size = 64**
---
If efficient = False:
Error: RuntimeError: CUDA out of memory. Tried to allocate 1024.00 KiB (GPU 0; 15.75 GiB total capacity; 14.71 GiB already allocated; 4.88 MiB free; 4.02 MiB cached)

If efficient = True:
Error: RuntimeError: CUDA out of memory. Tried to allocate 61.25 MiB (GPU 0; 15.75 GiB total capacity; 1

[2019-02-14 01:34] gpleiss commented on #52
What version of PyTorch are you using? I can run both the efficient and non-efficient models on my 8GB GPU.

Are you just running the demo, using the default settings?

[2019-03-01 12:05] yzy-1994 opened #53 "Should there be a global average pooling layer before the classifier?"
Hi,thank you for your great work! I only find a BatchNorm layer before the final classifier, should there be a global average pooling layer before the classifier?Sorry this is a simple question,looking forward to your reply.

[2019-03-02 02:22] #53 closed

[2019-03-04 02:14] TJstory opened #54 "Can we test using the trained model."

[2019-03-04 02:16] TJstory commented on #54
Hello, can you provide the weight trained on the cifar dataset and what command line is used for testing?

[2019-03-04 02:16] #54 closed

[2019-03-28 06:55] youngwanLEE opened #55 "Inference time issue"
Hi,

[The table](Speed (sec/mini batch)) shows comparison of speed(sec/mini bach).

Is the speed a training time?

I wonder whether the inference speed of efficient one is also slower than the naive implementation.

Did you compare the inference time, too?

[2019-03-28 19:03] gpleiss commented on #55
Inference time is exactly the same. The efficient operations are only necessary for training. The efficient operations reduce the number of feature maps that are stored in memory. During inference, this is not an issue because feature maps are not stored during inference.

For more description, please read the tech report.

[2019-03-28 19:03] #55 closed

[2019-04-09 22:10] CielAl opened #56 "New adaptive pooling layer."
It appears that models in the torchvision are now using adaptive poolings: `adaptive_avg_pool2d `
 to break the tie to the input size: [vision/densenet.py](https://github.com/pytorch/vision/blob/master/torchvision/models/densenet.py#L115)

Perhaps that simplify the constructor a little bit and generalize the usage even more?

[2019-04-12 19:55] gpleiss commented on #56
That sounds good. Would you be willing to put up a PR?

[2019-07-11 03:00] kennethfrost opened #58 "Unable to run demo."
I tried to run the demo.py file, and got the error :
('The function received no value for the required argument:', 'data')

[2019-07-11 04:05] #58 closed

[2019-07-21 08:44] jwnirvana opened #59 "How about the version of the torchvision, project killer and pyhon-fire?"
I hope you tell me the version. If so, thanks.

[2019-08-02 14:10] gpleiss commented on #59
There is no dependency on project killer. torchvision should match the version of Pytorch you have. Also I believe this works with any version of python-fire.

[2019-08-02 14:10] #59 closed

[2019-08-09 06:40] lizhenstat opened #60 "Question: why use bn_function on 1x1 conv, not on 3x3 conv"
Hi, thanks for your great work.

I have one question on the forward function
https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet.py#L35
why do you use cp.checkpoint only on 1x1 convolution,
is there a problem when applying it to 3x3 convolution?

Thanks in advance

[2019-08-12 15:01] gpleiss commented on #60
Hi @lizhenstat - the first set of convolutions has a quadratic memory cost, whereas the second set only has a linear memory cost.

To see this - the first set of convolutions maps from `num_previous_filters -> bn_size * growth_rate`. Storing the normalized inputs to this operations requires storing a feature map of size `num_previous_filters`. Doing this for all the layers will incur a quadratic c

[2019-08-12 15:01] #60 closed

[2019-09-12 08:13] lizhenstat opened #61 "dropout not in 3x3 convolutional layer"
Hi, thanks for your work.
I have a question here on dropout. In densenet.py, the block function is defined as follow:
[code]
while, the original densenet in torch version, the dropout is add after both 1x1-conv and
3x3-conv
[code]
Is here a particular reason for not adding dropout layer for 3x3 convolutional layer?
Thanks in advance

[2019-10-19 15:53] t-k- opened #62 "What is bn_size?"
Hi, I looked through the code but I failed to understand what is the purpose of `bn_size` parameter. To my understanding, each layer adds additional k channels (and not more than that) in the "dense layer", it should be exactly the growth rate, but according to this implementation, it adds `bn_size * growth_rate`. Why?

Sorry for my confusion.

[2019-10-21 01:32] gpleiss commented on #62
`bn_size` stands for "bottleneck size." Each "dense layer" consists of two convolutional layers. The first "bottlenecks" down the features to `bn_size * growth_rate`. The second goes from `bn_size * growth_rate` to `growth_rate` - and this is the new feature that is concatenated to the other features.

See [page 4 of the DenseNet paper](https://arxiv.org/pdf/1608.06993.pdf).

[2019-10-21 01:32] #62 closed

[2019-10-21 08:16] t-k- commented on #62
@gpleiss Thank you for your answer. Now I get much better understanding. However, if the "bottleneck size" is fixed to 4, then the dense layer will have init_C -> 4k -> k channel (size unchanged through sublayers), does it require 4k to be smaller than init_C (by the name of "bottleneck")? And is the internal "4k" designed for gradually shrinking down the number of channels to k? Is that the purpo

[2019-10-26 17:15] gpleiss commented on #62
No it does not, though it usually is

It's just a way to get more non-linearities, and therefore more capacity, from the network without using too many parameters. It's a trick used by other networks (e.g. ResNets).

[2019-10-31 13:02] changshuangzhao opened #63 "网络内存消耗？"
深度为121的DenseNet (L=121,K=32)网络训练ImageNet数据集，至少要多少显存？10块12G的显卡够用么？

[2020-01-10 13:08] #56 closed

[2020-03-10 07:53] zc3945 opened #65 "Is it possible to provide ImageNet pre-trained models？"
Is it possible to provide an imageNet pre-trained model suitable for the current version of efficient_densenet_pytorch？

[2020-03-15 15:14] ZZXin commented on #40
Hi,
I have a question On which dataset these weights are pretrained,ImageNet?

[2020-03-23 17:37] gpleiss commented on #40
Yup. Imagenet.

[2020-03-31 15:54] leonardishere opened #66 "Is this really memory efficient?"
I see the memory consumption chart in the readme, but after looking at the code, I have doubts that this implementation is fully memory efficient. I see the call to cp.checkpoint in _DenseLayer.forward(), but I don't see some of the other modifications that were called for in the paper, specifically post-activation normalization and contiguous concatenation. Am I missing something?

If I understan

[2020-04-07 11:48] gpleiss commented on #65
I'm sorry - somehow this got lost in my notifications! Does #40 work for you?

[2020-04-07 11:55] gpleiss commented on #66
This implementation and the default DenseNet implementation use pre-activation normalization and contiguous concatenation. Error increases without pre-activation normalization, and training time suffers significantly without contiguous concatenation. The purpose of the technical report was to design a memory efficient implementation under the constraints that we wanted pre-activation normalization

[2020-05-06 14:08] zc3945 commented on #65
Thank you. I'll have a try

[2020-05-06 14:08] #65 closed

[2020-05-24 04:54] abduallahmohamed opened #68 "Is the normalizatin values for CIFAR-10 correct?"
Hi,
I believe that the CIFAR-10 normalization values used are actually for CIFAR-100.

The current values are (which actually are CIFAR-100 normalization values):
[code]
But they should be:
[code]

Ref: https://github.com/Armour/pytorch-nn-practice/blob/master/utils/meanstd.py

[2020-05-25 17:29] gpleiss commented on #68
That seems correct. Shouldn't make a difference in practice w/ batch norm.
I'd be happy to accept a PR fixing these numbers

[2020-06-01 07:06] abduallahmohamed opened #69 "test error interpretation"
Hi,
It might be naiive question but it causing me a confusion. If the test error is  0.0546  does this means the error rate is ( 0.0546 *100) = 5.46 and the accuracy is 94.54% ?

[2020-06-05 16:42] gpleiss commented on #69
Yup that is correct :)

[2020-06-05 16:42] #69 closed

[2020-07-08 12:51] CXMANDTXW opened #70 "How can I apply this to my own model?"
Thank you for your nice work.
My model use the densenet connections like:
`tensorFeat = torch.cat([self.moduleOne(tensorFeat), tensorFeat], 1)
tensorFeat = torch.cat([self.moduleTwo(tensorFeat), tensorFeat], 1)
tensorFeat = torch.cat([self.moduleThr(tensorFeat), tensorFeat], 1)
tensorFeat = torch.cat([self.moduleFou(tensorFeat), tensorFeat], 1)
tensorFeat = torch.cat([self.moduleFiv(tensorFeat), t

[2020-07-27 14:39] gpleiss commented on #70
It really depends on the other aspects of your model. This implementation uses torch's gradient checkpointing feature: https://github.com/gpleiss/efficient_densenet_pytorch/blob/master/models/densenet.py#L38 - which trades off time for memory efficiency.

See [these docs](https://pytorch.org/docs/stable/checkpoint.html) for more information.

[2020-09-17 00:25] MRLQ-Q opened #71 "AttributeError: module 'fire' has no attribute 'Fire'"
AttributeError: module 'fire' has no attribute 'Fire'

[2020-09-17 00:57] gpleiss commented on #71
What version of fire are you using? Did you install it with `pip install fire`?

[2020-09-17 01:01] MRLQ-Q commented on #71
yes ，my pycharm was installed  fire

[2020-09-17 01:02] gpleiss commented on #71
what version of `fire`? I cannot reproduce your error

[2020-09-17 01:03] MRLQ-Q commented on #71
import fire   made no mistake.

[2020-09-17 01:04] MRLQ-Q commented on #71
How to view fire version

[2020-09-17 01:12] MRLQ-Q commented on #71
What will happen in the end?

[2020-09-17 01:14] MRLQ-Q commented on #71
The result of my last run was nothing.

[2020-09-17 11:16] gpleiss commented on #71
[code]

[2020-09-20 07:55] June-Luo opened #72 "The function received no value for the required argument: data"
I run the demo.py,but i got the error "The function received no value for the required argument: data".It seems like have something to do with fire.How can i solve tist problem.

[2020-09-26 15:36] gpleiss commented on #72
I think you must've forgotten the `--data` command line argument, which is required.

[code]

[2020-09-26 15:37] #63 closed

[2020-09-27 10:35] June-Luo commented on #72
Yes, that's the problem. Now I've solved it. Thank you very much！

[2020-09-28 02:13] #72 closed

[2020-10-04 09:01] ljn114514 opened #73 "The BN running mean&var with torch.utils.checkpoint.checkpoint"
How do you deal with the bn running mean/variance? Because the BatchNorm would be calculated twice (once during the forward pass and once during recomputation in the backward pass), and the running mean&var would updated twice.

[2020-10-05 13:31] gpleiss commented on #73
This is a good point. Ideally, PyTorch's batch norm layers should be smart enough to update the running mean/var appropriately with the checkpointing operation.

If this is not the case, then you should raise an issue with PyTorch, since the checkpointing/batch norm layers are part of their library, not this library.

[2020-10-06 06:38] ljn114514 commented on #73
Ok, thanks for your reply

[2020-10-06 06:38] #73 closed

[2021-02-14 09:02] #68 closed

[2022-08-18 04:14] emergencyd opened #75 "will the inference memory reduced too?"
As described in the title

[2022-08-19 18:52] gpleiss commented on #75
No, but that's not necessary. There are no intermediate feature maps stored in memory during inference.

[2022-08-28 12:41] mert-kurttutan opened #76 "Question about the place of checkpoint (shared memory allocation)"
Hi,

In the file `model/densenet.py`, the following piece of code to make densenet memory efficient

[code]

Above, the checkpoint is applied only to first batch-conv block - and not to the second. This is because the features that are reused by deeper layers come from only the first batch-conv block, right? Features of second layer stored in memory do not lead to quadratic space complexity in num

[2022-09-06 13:37] gpleiss commented on #76
This is correct.

[2022-09-06 13:37] #76 closed